
<div class="row">
  <div class="jumbotron">
    <h2>Brand Information</h2>
  </div>
  <div class="col-md-8">
    <h3><%=@brand.name%>--<%=@brand.shoe_type%></h3>
      <% if !@brand_stores.any?%>
      <p><em>There are no stores added to <%=@brand.name%> yet</em></p>
      <% else %>
      <ul>
        <% @brand_stores.each do |store| %>
          <li><%= store.name %></li>
        <% end %>
      </ul>
      <% end %>
  </div>
  <div class="col-md-4">
  <h3>Add a Brand To This Store</h3>
    <% if !@stores.any?%>
    <p><em>There are no stores added to Foot Unlocker yet</em></p>
    <% else %>
    <form action="/brand/stores" method="post">
      <input type="hidden" name="id" value="<%=@brand.id%>">
      <select class="form-control" name="stores">
        <% @stores.each do |store| %>
          <option value="<%=store.id%>"><%= store.name %></option>
        <% end %>
      </select>
      <button class="btn btn-info" type="submit" name="button">Add a Store</button>
      <% end %>
    </form>
  </div>
</div>
