<div class="row">
  <div class="jumbotron">
    <h2>Store Information</h2>
  </div>
  <div class="col-md-8">
    <h3><%=@store.name%></h3>
      <p><em><%=@store.street_address%></em></p>
      <p><em><%=@store.city%>, <%=@store.state%> <%=@store.zip_code%></em></p>
    <ul>
      <% if !@store_brands.any?%>
      <p><em>There are no stores added to <%=@store.name%> yet</em></p>
      <% else %>
        <% @store_brands.each do |store| %>
          <li><%= store.name %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col-md-4">
  <h3>Add a Store To Brand</h3>
  <% if !@brands.any?%>
  <p><em>There are no brands added to Foot Unlocker yet</em></p>
  <% else %>
  <form action="/store/brands" method="post">
    <input type="hidden" name="id" value="<%=@store.id%>">
    <div class="form-group">
      <select class="form-control" name="brands">
        <% @brands.each do |brand| %>
          <option value="<%=brand.id%>"><%= brand.name %></option>
        <% end %>
      </select>
    </div>
    <button class="btn btn-info" type="submit" name="button">Add the Brand</button>
      <% end %>
  </form>
  </div>
</div>
